<div class="box" >
	<div style="border: 1px solid #1ba4ab;width: 100%;    display: inline-block;" >
		<ul class="resultTitle" >
			<li><label>יצרן</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>דגם</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>שנה</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>תיבת הילוכים</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>מחיר</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>תמונה</label></li>
		</ul>
		<div>
			<ul class="ad" >
				<li><label>דייהו</label></li>
				<li><label>דייהו לאנוס</label></li>
				<li><label>2001</label></li>
				<li><label>אוטומט</label></li>
				<li><label>6,000</label></li>
				<li style="width: 146px;" ><label>V</label></li>
			</ul>
			<hr />
			<div class="adDetails" >
				<div class="adDetailsR" >
					<div class="adTitle" >פרטים</div>
					<ul class="adDetailList" >
						<li><label class="labelKey" >יצרן:</label><label>דייהו</label></li>
						<li><label class="labelKey" >דגם:</label><label>דייהו לאנוס</label></li>
						<li><label class="labelKey" >שנה:</label><label>2001</label></li>
						<li><label class="labelKey" >תיבת הילוכים:</label><label>אוטומט</label></li>
						<li><label class="labelKey" >נפח:</label><label>1,498</label></li>
						<li><label class="labelKey" >ק"מ:</label><label>175,000</label></li>
						<li><label class="labelKey" >מחיר:</label><label style="font-weight: bold;" >6,000</label><span>₪</span></li>
					</ul>
				</div>
				<div class="adDetailsL" >
					<div class="adTitle" >צור קשר</div>
					<ul class="adDetailList" >
						<li><label class="labelKey" >איש קשר:</label><label>משה</label></li>
						<li><label class="labelKey" >טלפון:</label><label>054-803-42-73</label></li>
						<li><label class="labelKey" >דוא"ל:</label><label>moshe@gmail.com</label></li>
					</ul>
					<p style="margin: 0 5% 5%;" ><label style="font-weight: bold;    margin-left: 5px;" >תאור:</label>מטופל בזמן, במצב מצוין, שמור מאוד! מוכר עקב קבלת רכב חדש. כולל דיבורית בלוטוס' קבועה, רדיו דיסק פיוניר USB.</p>
				</div>
				<div class="adDetailsPic" >
					
				</div>
			</div>
			<hr />
			<ul class="ad" >
				<li><label>ghjgjgj</label></li>
				<li><label>ghjgjgj</label></li>
				<li><label>ghjgjgj</label></li>
				<li><label>ghjgjgj</label></li>
				<li><label>ghjgjgj</label></li>
				<li><label>ghjgjgj</label></li>
			</ul>
		</div>
	</div>
</div>