<div class="box" >
	<div style="border: 1px solid #1ba4ab;width: 100%; border-radius: 2px;display: inline-block;" >
	<div class="boxTitle" >חיפוש במודעות</div>
	<ul class="searchBar" >
		<li>
			<label>יצרן</label>
			<select ng-model="SJmanuf" ng-change="getListModel(SJmanuf);" >
				<option ng-selected="true" >בחר יצרן</option>
				<option ng-repeat="(k,v) in man_opts track by $index" >{{v.name}}</option>							
			</select>
		</li>
		<li>
			<label>דגם</label>
			<select ng-model="SJmodel" ng-change="selectedModel(SJmodel);" >
				<option ng-selected="true" >בחר דגם</option>
				<option ng-repeat="(k,v) in mod_opts track by $index" >{{v.model_name}}</option>							
			</select>
		</li>
		<li>
			<label>משנה</label>
			<select ng-model="SJyearF" ng-change="selectedYearF(SJyearF);" >
				<option ng-selected="true" >משנה</option>
				<option ng-repeat="year in years" >{{year}}</option>							
			</select>
		</li>
		<li>
			<label>עד שנה</label>
			<select ng-model="SJyearT" ng-change="selectedYearT(SJyearT);" >
				<option ng-selected="true" >עד שנה</option>
				<option ng-repeat="year in years" >{{year}}</option>							
			</select>
		</li>
		<li>
			<label>תיבת הילוכים</label>
			<select ng-model="SJtypeGear" ng-change="selectedTypeGear(SJtypeGear);" >
				<option ng-selected="true" >בחר</option>
				<option>ידנית</option>
				<option>אוטומט</option>
			</select>
		</li>
		<li>
			<label>ממחיר</label>
			<input type="number" placeholder="ממחיר" ng-model="model.SJpriceF"  />
		</li>
		<li>
			<label>עד מחיר</label>
			<input type="number" placeholder="עד מחיר" ng-model="model.SJpriceT" />
		</li>
	</ul>
	<button ng-click="search()" class="button search" >חפש</button>
</div></div>

<div class="box" style="margin-bottom: 30px;" >
	<div style="border: 1px solid #1ba4ab;width: 100%;    display: inline-block;" >
		
		<ul class="resultTitle" >
			<li><label>יצרן</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>דגם</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>שנה</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>תיבת הילוכים</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>מחיר</label></li>
			<li><span style="color:#FFFFFF" >|</span></li>
			<li><label>תמונה</label></li>
		</ul>
		<div><ul style="width:100%" ><li ng-repeat="(key,val) in listCars" ng-click="showHideDet($index);" >
			<ul class="ad" >
				<li><label>{{val.typeName}}</label></li>
				<li><label>{{val.modName}}</label></li>
				<li><label>{{val.year}}</label></li>
				<li><label>{{val.type_geare}}</label></li>
				<li><label>{{val.price}}</label></li>
				<li style="width: 146px;" ><span ng-if="val.image" class="symbolV_l icon-tick"></span>
				<span ng-if="!val.image" class="symbolX_l icon-error"></span></li>
			</ul>
			<hr />
			<div class="adDetails" ng-if="val.viewDet == 1"  >
				<div class="adDetailsR" >
					<div class="adTitle" >פרטים</div>
					<ul class="adDetailList" >
						<li><label class="labelKey" >יצרן:</label><label>{{val.car_type_name}}</label></li>
						<li><label class="labelKey" >דגם:</label><label>{{val.car_model_name}}</label></li>
						<li><label class="labelKey" >שנה:</label><label>{{val.year}}</label></li>
						<li><label class="labelKey" >תיבת הילוכים:</label><label>{{val.type_geare}}</label></li>
						<li><label class="labelKey" >נפח:</label><label>{{val.volume}}</label></li>
						<li><label class="labelKey" >ק"מ:</label><label>{{val.km}}</label></li>
						<li><label class="labelKey" >צבע:</label><label>{{val.color}}</label></li>
						<li><label class="labelKey" >מחיר:</label><label style="font-weight: bold;" >{{val.price}}</label><span>₪</span></li>
					</ul>
				</div>
				<div class="adDetailsL" >
					<div class="adTitle" >צור קשר</div>
					<ul class="adDetailList" >
						<li><label class="labelKey" >איש קשר:</label><label>{{val.user.user_name}}</label></li>
						<li><label class="labelKey" >טלפון:</label><label>{{val.user.mobilePhone}}</label></li>
						<li><label class="labelKey" >דוא"ל:</label><label>{{val.user.email}}</label></li>
					</ul>
				</div>
				<div class="adDetailsPic" >
					<img src="{{val.image}}" style="width:100%" />
				</div>
			</div>
			<hr />
			</li></ul>
		</div>
	</div>
</div>